aesthetic-predictor-v2-5==2024.12.18.1
aiofiles==24.1.0
beautifulsoup4==4.13.4
CairoSVG==2.7.1
# clip==1.0
hpsv2x==1.2.0
lpips==0.1.4
lxml==5.4.0
matplotlib==3.10.1
numpy==2.2.5
openai==1.77.0
opencv_python==4.11.0.86
Pillow==11.2.1
scipy==1.15.2
scikit-image==0.25.2
svgelements==1.9.6
svgpath2mpl==1.0.0
svgpathtools==1.6.1
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
transformers==4.51.3
